
.vs/StructureHelper/DesignTimeBuild/.dtbcache
.vs/StructureHelper/v16/.suo
.vs/StructureHelper/v16/Server/sqlite3/db.lock
.vs/StructureHelper/v16/Server/sqlite3/storage.ide
.vs/StructureHelper/v16/Server/sqlite3/storage.ide-shm
bin/Debug/net45/Ionic.Zip.Reduced.dll
.vs/StructureHelper/v16/Server/sqlite3/storage.ide-wal
bin/Debug/net45/log4net.dll
bin/Debug/net45/Microsoft.Xna.Framework.dll
bin/Debug/net45/Microsoft.Xna.Framework.Game.dll
bin/Debug/net45/Microsoft.Xna.Framework.Graphics.dll
bin/Debug/net45/Microsoft.Xna.Framework.Xact.dll
bin/Debug/net45/Mono.Cecil.dll
bin/Debug/net45/Mono.Cecil.Mdb.dll
bin/Debug/net45/Mono.Cecil.Pdb.dll
bin/Debug/net45/MonoMod.RuntimeDetour.dll
bin/Debug/net45/MonoMod.RuntimeDetour.xml
bin/Debug/net45/MonoMod.Utils.dll
bin/Debug/net45/MonoMod.Utils.xml
bin/Debug/net45/MP3Sharp.dll
bin/Debug/net45/NVorbis.dll
bin/Debug/net45/ReLogic.dll
bin/Debug/net45/Steamworks.NET.dll
bin/Debug/net45/StructureHelper.pdb
bin/Debug/net45/StructureHelper.dll
bin/Debug/net45/System.ValueTuple.dll
bin/Debug/net45/Terraria.Libraries.JSON.NET.Newtonsoft.Json.dll
bin/Debug/net45/tModLoader.exe
bin/Debug/net45/TerrariaHooks.dll
bin/Debug/net45/tModLoader.pdb
bin/Debug/net45/tModLoader.xml
obj/Debug/net45/StructureHelper.AssemblyInfo.cs
obj/Debug/net45/StructureHelper.AssemblyInfoInputs.cache
obj/Debug/net45/StructureHelper.assets.cache
obj/Debug/net45/StructureHelper.csproj.CopyComplete
obj/Debug/net45/StructureHelper.csproj.CoreCompileInputs.cache
obj/Debug/net45/StructureHelper.csproj.FileListAbsolute.txt
obj/Debug/net45/StructureHelper.csprojAssemblyReference.cache
obj/Debug/net45/StructureHelper.dll
obj/Debug/net45/StructureHelper.pdb
obj/project.assets.json
obj/StructureHelper.csproj.nuget.cache
obj/StructureHelper.csproj.nuget.dgspec.json
obj/StructureHelper.csproj.nuget.g.props
obj/StructureHelper.csproj.nuget.g.targets
Properties/launchSettings.json
*.cache
